<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\DeliveryTime\Api\DeliveryTimeRepositoryInterface"
                type="Magenest\DeliveryTime\Model\DeliveryTimeRepository" />
    <preference for="Magenest\DeliveryTime\Api\Data\DeliveryTimeInterface" type="Magenest\DeliveryTime\Model\DeliveryTime" />
    <preference for="Magenest\DeliveryTime\Api\Data\DeliveryTimeSearchResultsInterface" type="Magenest\DeliveryTime\Model\DeliveryTimeSearchResults" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="delivery_time_listing_data_source" xsi:type="string">Magenest\DeliveryTime\Model\ResourceModel\DeliveryTime\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Magenest\DeliveryTime\Model\ResourceModel\DeliveryTime\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">delivery_time</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\DeliveryTime\Model\ResourceModel\DeliveryTime</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="mpdt_saveDeliveryInformation" type="Magenest\DeliveryTime\Model\Plugin\Checkout\ShippingInformationManagement"/>
    </type>
</config>
